<%# var r = document.getElementsByClassName("room_avail");
                $(r).empty();
                <% binding.pry %>
                
                <%# $.each(@rooms, function(key, value){
                    $('r').append($("<option></option>")
                                   .attr("value",key)
                                   .text(value));
                });  %> 