<% if user_signed_in? && current_user.admin %>
<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table class="table">

	<thead class="bg-success">

			<th>Email</th>
      <th>Room number</th>
			<th>Check in</th>
			<th>Check out</th>
		

	</thead>

	 <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.email %></td>
        <td><%#= booking.room_booking.room.room_number %></td>
        <td><%#= booking.room_booking.check_in %></td>
        <td><%#= booking.room_booking.check_out %></td>
        <td><%#= link_to 'Show', booking_path  %></td>
        <td><%#= link_to 'Edit', edit_booking_path %></td>
        <td><%#= link_to 'Destroy', booking_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>


<br>

<%= link_to 'New Booking', new_booking_path %>
<% else %>
<p> Please sign in first! </p>
<% end %>
