<script src="https://code.highcharts.com/highcharts.src.js"></script>
<%= javascript_include_tag "chartkick" %>
<h1> Users </h1>

<%= line_chart charts_new_user_path %>

<h1> Categories </h1>

<%= bar_chart charts_show_category_path %>

<h1>Hotels</h1>
<%= pie_chart charts_show_hotel_path %>