
<p id="notice"><%= notice %></p>

<%# <p>
  <strong>Availibility:</strong>
  <%= @room.availibility %>
<% @users.each do |user| %>
<table border="2">

<%# <% v = UsersRole.where(user_id=user.id).role_id%> 
<%# <user% w = Role.find(v).name%>
<tr>
 <td> <%= user.email %></td>
 <td> <%= user.roles.name%></td>
 </tr>
</table>  
<% end %>
