
<p id="notice"><%= notice %></p>

<%# <p>
  <strong>Availibility:</strong>
  <%= @room.availibility %>
  <table class="table">
  	<thead class="bg-success">
  <th >User Emails</th>
    <th>User Status</th>
    </thead>
<% @users.each do |user| %>
<tr>
 <td> <%= user.email %></td>


 </tr>
 <% end %>
</table> 

<%# <% v = UsersRole.where(user_id=user.id).role_id%> 
<%# <user% w = Role.find(v).name%>
 

